<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" style="text-align: center">
    <h2 th:text="#{welcome.message}"></h2>
    <h3 th:text="#{welcome.private.message}"></h3>
    <p>
        <span th:text="#{welcome.user.authenticated}+ ': '"></span>
        <b th:inline="text" sec:authentication="principal.username"></b>
    </p>

    <p th:text="#{welcome.marks}"></p>
    <div class="table-responsive">

        <table th:replace="fragments/mark_table"></table>

        <footer th:replace="fragments/pagination"/>

    </div>

</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
